include includes/head.pug

body
  include ./includes/header.pug
  section.hero.is-primary
    .hero-body.formulaire
      .title.has-text-white Connexion
      .card
        .card-content
          .content
            include ./includes/messages.pug
            form(action='/utilisateur/connexion', method='POST')

              .field
                p.control.has-icons-left.has-icons-right
                  input.input( name='email', id='email', placeholder="Entrer votre email")
                  span.icon.is-small.is-left
                    i.fas.fa-envelope
              .field
                p.control.has-icons-left
                  input.input(type='password', name='mdp', id='mdp', placeholder='Entrer votre mot de passe')
                  span.icon.is-small.is-left
                    i.fas.fa-lock
                .control
                  button.button.is-primary Se connecter
                br
                p Pas de compte ? 
                  a(href="/inscription") Inscrivez-vous maintenant !

  include includes/footer.pug






