include includes/head.pug

body

  include includes/header.pug
  section.hero.is-primary
    .hero-body.formulaire
      .title.has-text-white Inscription
      .card
        .card-content
          .content
            include ./includes/messages.pug
            form(action='/utilisateur/inscription', method='POST')
              .field
                p.control.has-icons-left.has-icons-right
                  input.input(type='name', name='nomUtilisateur', placeholder='Nom d\'utilisateur' minlength="3" maxlength="24"  value= typeof nomUtilisateur != 'undefined' ? nomUtilisateur : '')
                  //- les typeof sert a recuprer les données si elles existent (en cas d'erreur dans le a l'envoi du formulaire )
                  span.icon.is-small.is-left
                    i.fa.fa-user(aria-hidden='true')
              .field
                p.control.has-icons-left.has-icons-right
                  input.input(type='email', name='email', id='email', placeholder="Entrer un email", value= typeof email != 'undefined' ? email : '', )
                  span.icon.is-small.is-left
                    i.fas.fa-envelope
              .field
                p.control.has-icons-left
                  input.input(type='password', name='mdp', id='mdp', placeholder='Créer un mot de passe', value=typeof mdp != 'undefined' ? mdp : '', )
                  span.icon.is-small.is-left
                    i.fas.fa-lock
              .field
                p.control.has-icons-left
                  input.input(type='password', name='mdp2', id='mdp2', placeholder='Confirmer votre mot de passe', value=typeof mdp2 != 'undefined' ? mdp2 : '', )
                  span.icon.is-small.is-left
                    i.fas.fa-lock
              .control
                button.button.is-primary S'inscrire
              br
              p Déja un compte ? 
                a(href="/connexion") connectez-vous maintenant



  include includes/footer.pug






