script(type='text/javascript' src='/socket.io/socket.io.js')
script(src='/js/site.js')
footer.footer
  .container
    .content
      p 
        a(href="https://daoudasidibe.fr" target="_bank") © 2021 Daouda

